<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Calculator.Properties.Settings.ConnectionString" connectionString="Data Source = calculator.db" />
    </connectionStrings>
    <userSettings>
        <Calculator.Properties.Settings>
            <setting name="IsDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidthThreshold" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CountThreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IsFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>690</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KeycloakBaseUrl" serializeAs="String">
                <value>http://localhost:8080</value>
            </setting>
            <setting name="KeycloakRealm" serializeAs="String">
                <value>my_realm</value>
            </setting>
            <setting name="KeycloakClientId" serializeAs="String">
                <value>m2m-application</value>
            </setting>
            <setting name="KeycloakClientSecret" serializeAs="String">
                <value>pg1bj08fY8V3rEOgM44EfRBPsLuOrH6n</value>
            </setting>
            <setting name="KeycloakRedirectUri" serializeAs="String">
                <value>http://127.0.0.1:7890/callback</value>
            </setting>
            <setting name="KeycloakScope" serializeAs="String">
                <value>openid profile email</value>
            </setting>
            <setting name="MsalClientId" serializeAs="String">
                <value>bfd5407a-ad97-440d-9955-5dff06fd0ed3</value>
            </setting>
            <setting name="MsalTenantId" serializeAs="String">
                <value>common</value>
            </setting>
            <setting name="MsalRedirectUri" serializeAs="String">
                <value>
http://localhost:6221</value>
            </setting>
            <setting name="MsalScopes" serializeAs="String">
                <value>User.Read</value>
            </setting>
            <setting name="MsalUseBroker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthProvider" serializeAs="String">
                <value>msal</value>
            </setting>
        </Calculator.Properties.Settings>
    </userSettings>
</configuration>