name: Wpf Application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: windows-latest
    env:
     name: My-Artefact

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build and publish
      run: |
        cd Calculator
        mkdir ${{env.DOTNET_ROOT}}\Output
        dotnet publish --property:PublishDir=${{env.DOTNET_ROOT}}\Output
        ls ${{env.DOTNET_ROOT}}\Output
        
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ env.name }} - Ali
        path: ${{env.DOTNET_ROOT}}\Output
    

    
