name: Wpf Application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: windows-latest
    env:
     name: My-Artefact
     basePath: Calculator/Output/

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build and publish
      run: |
        cd Calculator
        mkdir Output
        dotnet publish -p:PublishDir=Output
    
        
    - uses: actions/upload-artifact@v4.3.3
      with:
        name: ${{ env.name }} - Calculator
        path: ${{ env.basePath }}

    - name: Delete output file
      run: Remove-Item -Path ${{ env.basePath }} -Recurse -Force
