name: Wpf Application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: windows-latest  
    env:
      Solution_Name: Calculator.sln                         # Replace with your solution name, i.e. MyWpfApp.sln.
      Test_Project_Path: Calculator.Fitness.Test.csproj                 # Replace with the path to your test project, i.e. MyWpfApp.Tests\MyWpfApp.Tests.csproj.
      Wap_Project_Directory: Calculator.Package    # Replace with the Wap project directory relative to the solution, i.e. MyWpfApp.Package.
      Wap_Project_Path: Calculator.App.Package/Calculator.Package.wapproj           # Replace with the path to your Wap project, i.e. MyWpf.App.Package\MyWpfApp.Package.wapproj.

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Install dependencies
      run: dotnet restore
    - name: Publish
      run: |
        cd Calculator
        mkdir Output
        dotnet build -o Output
        dotnet publish -o Output
        
    - name: Create txt file
      run: ls Output
          
    - name: Upload Artefacts
      uses: actions/upload-artifact@v4
      with:
        name: Build-Artefact
        path: Output/
    

    
